:root {
    --firs: #0078AA;
    --second: #3AB4F2;
    --third: #ADDDD0;
    /* #F2DF3A;*/
    --fourth: #87A2FB;
    /*#F6F6F6; */
    --l1: #f1cb6e;
    --l2: #79b2ee;
    --l3: #30d925;
    --shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    --0: #d0d6d9;
    --1: #bbbbc0;
    /* BODY */
    --2: #999895 ;
    --3: #6b6967;
    --4: #219ebc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    list-style-type: none;
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,900&display=swap');
    font-family: roboto, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   
}

html{
}

body {
    margin: 0;
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color:#373737;
  
}

a {
    color: #495057;
}

i {
    font-style: italic;
    cursor: pointer;
}

.container {
    margin-top: 5px;
}

nav {
    height: 100vh;
    width: 230px;
    background-color: var(--3);
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
    border-width: 0;
    margin-top: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    display: block !important;
}

nav .nav-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin-bottom: 2px;
    background-color: var(--3);
    color: white;
    font-size: 1.7rem;
    position: relative;
}

nav .nav-header .fa-plus {
    font-size: 1.5rem;
    right: 4px;
    bottom: 2px;
    cursor: pointer;
    transition: color 0.6s, font-size 0.3s;
    position: absolute;
    color:white
}

nav .nav-header .fa-plus:hover {
    color: var(--l2)
}

/* i setting */
.opt {
    position: absolute !important;
    left: 6px;
    top: 6px;
    font-size: 1rem !important;
    transition: all 0.5s;
}

.opt:hover {
    color: var(--l2) !important
}

nav #add-links {
    width: 100%;
    overflow-y: auto;
    padding-bottom: 5px;
}

nav .s-link {
    width: 100%;
    display: block;
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: 600;
    left: 10px;
    text-align: left;
    cursor: pointer;
}

nav .links {
    position: relative;
    height: 62px;
    margin-bottom: 5px;
    box-shadow: var(--shadow);
}

nav .links button {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: all 1s;
    color: #fcfcfc;
}

nav .links button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


nav .links:nth-of-type(odd) {
    background: var(--l2);
}

nav .links:nth-of-type(even) {
    background: var(--l1);
}

nav span.tasks,
nav span.trash {
    position: absolute;
}

nav span.tasks-num {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ea0606;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav span.tasks {
    width: 80px;
    height: 23px;
    position: absolute;
    font-size: 0.6rem;
    font-weight: 400;
    border-radius: 0px 100px 5px 5px;
    background-color: #0078aa;
    color: white;
    text-align: left;
    padding-left: 3px;
}

nav span.tasks p {
    font-size: 1rem;
}

nav span.trash {
    right: 7px;
    bottom: 2px;
    font-size: 0.8rem;
    transition: all 0.6s;
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(234, 6, 6);
}

nav span.trash i {
    color: #dc3545;
}

nav span.trash i:hover {
    color: white(0, 13, 255);
    cursor: pointer;
}

nav span.trash button {
    border: none !important;
    outline: none !important;
    background-color: rgba(0, 0, 0, 0);
}

.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all .2s;
    background-color: var(--0);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-width: 1px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1rem;
    height: 3.5rem;
    background-color:var(--3);
    color: white;
}

.card-header i {
    cursor: pointer;
    transition: all 0.5s;
}

.card-header i:hover {
    color: var(--l2)
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.card-header .header-icon {
    font-size: 1.65rem;
    margin-right: 0.625rem;
}

.card-header.card-header-tab .card-header-title {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#plus-add-item:hover {
    color: var(--l2)
}

#plus-add-item:active {
    color: var(--l1)
}

.btn-actions-pane-right {
    margin-left: auto;
    white-space: nowrap;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.scroll-area-sm {
   height: calc(100vh - 50px);
    overflow-x: hidden;
    background-color: var(--l2);
}

.add-list {
    transition: all 0.5s;
}

.add-list li {
    display: flex;
    align-items: center;
    position: relative;
    width: 80% !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}

.todo-indicator {
    position: absolute;
    width: 7px;
    height: 60%;
    border-radius: 0.3rem;
    left: 0.625rem;
    top: 20%;
    opacity: .6;
    transition: opacity .2s;
}

.bg-warning {
    background-color: #f7b924 !important;
}

.widget-content {
    padding: 1rem;
    flex-direction: row;
    align-items: center;
}

.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
    padding-right: 40px;
}

.widget-content .widget-content-right.widget-content-actions {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s;
}

.widget-content .widget-content-right {
    margin-left: auto;
}

.widget-content-right {
    position: absolute;
    right: -18px;
}

.widget-content-left {
    word-break: break-all;
}

.widget-content-left:hover {
    cursor: pointer;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.btn-outline-success {
    color: #3ac47d;
    border-color: #3ac47d;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #3ac47d;
    border-color: #3ac47d;
}

.btn-primary {
    color: #fff;
    background-color: #3f6ad8;
    border-color: #3f6ad8;
}

.btn {
    position: relative;
    transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
    outline: none !important;
}

.card-footer {
    background-color: #fff;
}

.check {
    width: 29px;
    margin-left: 3px;
    position: relative;
    display: inline-block;
}

.task-check {
    position: relative;
    top: 6px
}

.line-through {
    text-decoration: line-through;
}

/* radio button colors */
.color-1 {
    background-color: var(--l1);
}

.color-2 {
    background-color: var(--l2);
}

.color-3 {
    background-color: var(--l3);
}

.color-4 {
    background-color: rgba(255, 255, 255, 0.016);
}

.add-ok {
    display: block;
    transition: all 1s;
    position: absolute;
    right: 50px;
    top: 20px;
    font-weight: 700
}

.visible {
    opacity: 0;
}

.fa-list-ol {
    margin-top: 5px;
    margin-right: 5px;
}

/* scroolbar setting */
::-webkit-scrollbar {
    width: 6px;
    background: transparent;
    border-radius: 3px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: none;
    background-color: transparent;
}

.options i {
    font-size: 1.3rem;
    transition: all 0.5s;
}

.options i:hover {
    color: var(--l2)
}

.z-index-4 {
    z-index: 100000 !important;
}

.z-index-3 {
    z-index: 90000 !important;
}

.fixed-top {
    z-index: 0 !important;
}
.list { 
    width: calc(100vw-250px);
    margin-left:245px;
    margin-right: 5px;
    margin-top:3px;
    }

@media screen and (min-width:992px) {

 
}

@media screen and (max-width:992px) {

}

@media screen and (max-width:600px) {
 
}

@media screen and (max-width:375px) {
    

}

